<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Connection.MyCon</listener-class>
    </listener>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>Student.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoUser</servlet-name>
        <servlet-class>Student.DemoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProfile</servlet-name>
        <servlet-class>Student.ShowProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Student.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>Student.Demo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoUser</servlet-name>
        <url-pattern>/DemokUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProfile</servlet-name>
        <url-pattern>/ShowProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
